<h1 mat-dialog-title>
  {{ user ? "Editar usuario" : "Crear usuario" }}
</h1>
<div mat-dialog-content>
  <form [formGroup]="userForm">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Nombre</mat-label>
          <input [formControl]="nameControl" matInput />
          <mat-error>
            {{ userForm.get("name")?.errors | errorForms }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Apellido</mat-label>
          <input matInput [formControl]="lastNameControl" />
          <mat-error>
            {{ userForm.get("name")?.errors | errorForms }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-10">
        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="emailControl" />

          <mat-error>
            {{ emailControl.errors | errorForms }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-2">
        <mat-form-field class="w-100">
          <mat-label>Edad</mat-label>
          <input matInput [formControl]="ageControl" />
          <mat-error>
            {{ userForm.get("email")?.errors | errorForms }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-dialog-close mat-button>Cancelar</button>
  <button mat-button (click)="onSubmit()">Guardar</button>
</div>
