<h1 mat-dialog-title>
  {{ editingStudent ? "Editar alumno" : "Crear alumno" }}
</h1>
<div mat-dialog-content>
  <form [formGroup]="studentForm">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Nombre</mat-label>
          <input formControlName="name" matInput />
          <mat-error>
            {{ studentForm.get("name")?.errors | errorForms }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="lastName" />
          <mat-error>
            {{ studentForm.get("name")?.errors | errorForms }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-10">
        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />

          <mat-error>
            {{ emailControl.errors | errorForms }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-2">
        <mat-form-field class="w-100">
          <mat-label>Edad</mat-label>
          <input matInput formControlName="age" />
          <mat-error>
            {{ studentForm.get("email")?.errors | errorForms }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-dialog-close mat-button>Cancelar</button>
  <button mat-button (click)="onSubmit()">Guardar</button>
</div>
