<p appTitleFont>¡Bienvenido/a {{ (authUser$ | async)?.name }}!</p>
<mat-list-item routerLink="home">
  <button mat-stroked-button color="accent">Home</button>
</mat-list-item>
<mat-list-item routerLink="courses">
  <button mat-stroked-button color="accent" routerLink="courses">Cursos</button>
</mat-list-item>
<mat-list-item routerLink="users">
  <button mat-stroked-button color="accent">Usuarios</button>
</mat-list-item>
<mat-list-item routerLink="students">
  <button mat-stroked-button color="accent">Alumnos</button>
</mat-list-item>
<mat-list-item routerLink="inscriptions">
  <button mat-stroked-button color="accent">Inscripciones</button>
</mat-list-item>

<mat-list-item (click)="logout()">
  <button mat-icon-button matListItemMeta>
    <mat-icon color="warn">logout</mat-icon>
  </button>
</mat-list-item>
