<h1 appTitleFont>Panel de Control</h1>
<mat-list-item routerLink="home">
  <button mat-stroked-button color="accent">Home</button>
</mat-list-item>
<mat-list-item routerLink="courses">
  <button mat-stroked-button color="accent" routerLink="courses">Cursos</button>
</mat-list-item>
<mat-list-item routerLink="users">
  <button mat-stroked-button color="accent">Usuarios</button>
</mat-list-item>
<mat-list-item routerLink="students">
  <button mat-stroked-button color="accent">Alumnos</button>
</mat-list-item>
<mat-list-item>
  <button mat-stroked-button color="accent">Postularme</button>
</mat-list-item>

<mat-list-item>
  <a matListItemTitle href="..."></a>
  <button mat-icon-button matListItemMeta>
    <mat-icon color="accent">manage_accounts</mat-icon>
  </button>
</mat-list-item>
