<form [formGroup]="userForm">
  <div class="row">
    <div class="col-6">
      <mat-form-field class="w-100">
        <mat-label>Nombre</mat-label>
        <input formControlName="name" matInput />
        <mat-error>
          <span *ngIf="nameControl?.hasError('minlength')">
            El campo debe tener mínimo 3 caractéres.
          </span>
          <span *ngIf="nameControl?.hasError('maxlength')">
            El campo debe tener hasta 12 caractéres.
          </span>
          <span *ngIf="nameControl?.hasError('required')">
            El campo debe ser completado.
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="w-100">
        <mat-label>Apellido</mat-label>
        <input formControlName="lastName" matInput />
      </mat-form-field>
    </div>
    <pre>
      {{ nameControl?.errors | json }}
    </pre>
  </div>
</form>
